
body {
  background-color: rgb(226, 225, 225);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

main {
  margin: 80px 0;
}

.block {

  background-color: white;
  padding: 60px;
  margin-bottom: 30px;
}

.block-header {
  color: #909494;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}


#logo {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  color:black;
 
}


.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

.navbar {
  background: black;
  border: none;
}


@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #bfc2c2;
  }
}

.connect-header {
  font-size: 25px;
}

.connect-photo {
  width: 55px;
  height: 55px;
}

#images {
  
  padding-top: 15px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: white;
}

.text-muted-footer {
  margin-top: 15px;
  color: #fff;
}

.two-toned-footer-color {
  height: 3px;
  padding-top: 3px;
  background-color: black;
}

.about-me-header {
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 32px;
  font-weight: bold;
  color: #909494;
}

#about-image {
  float: left;
  width: 200px;
  margin: 0 20px 10px 0;
}


.port-image {
  margin: 20px 20px ;
}

.form-control {
  border-radius: 0;
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  float:right;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  background-color: #909494;
  border: 0;
}

.submit-btn1{
  
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  background-color: #909494;
  border: 0;
}
.submit-btn2{
 
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  background-color: #909494;
  border: 0;
}

.submit-btn:hover {
  opacity: .7;
}

